<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  <!-- welcome add -->
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <!-- class dir -->
  <servlet>
    <description>get role and resources</description>
    <display-name>GetRoleNav</display-name>
    <servlet-name>GetRoleNav</servlet-name>
    <servlet-class>GetRoleNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoleNav</servlet-name>
    <url-pattern>/GetRoleNav</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>create readers details</description>
    <display-name>AddReader</display-name>
    <servlet-name>AddReader</servlet-name>
    <servlet-class>AddReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReader</servlet-name>
    <url-pattern>/AddReader</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Adminauthority</display-name>
    <servlet-name>Adminauthority</servlet-name>
    <servlet-class>Adminauthority</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminauthority</servlet-name>
    <url-pattern>/Adminauthority</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AdminCreateRole</display-name>
    <servlet-name>AdminCreateRole</servlet-name>
    <servlet-class>AdminCreateRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreateRole</servlet-name>
    <url-pattern>/AdminCreateRole</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AdminLibDelete</display-name>
    <servlet-name>AdminLibDelete</servlet-name>
    <servlet-class>AdminLibDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLibDelete</servlet-name>
    <url-pattern>/AdminLibDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AdminLibInsert</display-name>
    <servlet-name>AdminLibInsert</servlet-name>
    <servlet-class>AdminLibInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLibInsert</servlet-name>
    <url-pattern>/AdminLibInsert</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Adminrequest</display-name>
    <servlet-name>Adminrequest</servlet-name>
    <servlet-class>Adminrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminrequest</servlet-name>
    <url-pattern>/Adminrequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CheckOrgEmail</display-name>
    <servlet-name>CheckOrgEmail</servlet-name>
    <servlet-class>CheckOrgEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOrgEmail</servlet-name>
    <url-pattern>/CheckOrgEmail</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CheckReader</display-name>
    <servlet-name>CheckReader</servlet-name>
    <servlet-class>CheckReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckReader</servlet-name>
    <url-pattern>/CheckReader</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>create user like admin,librarian</description>
    <display-name>Createadmin</display-name>
    <servlet-name>Createadmin</servlet-name>
    <servlet-class>Createadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createadmin</servlet-name>
    <url-pattern>/Createadmin</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CreateOrg</display-name>
    <servlet-name>CreateOrg</servlet-name>
    <servlet-class>CreateOrg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrg</servlet-name>
    <url-pattern>/CreateOrg</url-pattern>
  </servlet-mapping>



  <servlet>
    <description></description>
    <display-name>FilterBooks</display-name>
    <servlet-name>FilterBooks</servlet-name>
    <servlet-class>FilterBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterBooks</servlet-name>
    <url-pattern>/FilterBooks</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>get HTML file</description>
    <display-name>GetFileHtml</display-name>
    <servlet-name>GetFileHtml</servlet-name>
    <servlet-class>GetFileHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileHtml</servlet-name>
    <url-pattern>/GetFileHtml</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>GetFilePdf</display-name>
    <servlet-name>GetFilePdf</servlet-name>
    <servlet-class>GetFilePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFilePdf</servlet-name>
    <url-pattern>/GetFilePdf</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>GetFileReq</display-name>
    <servlet-name>GetFileReq</servlet-name>
    <servlet-class>GetFileReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileReq</servlet-name>
    <url-pattern>/GetFileReq</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>GetFilexls</display-name>
    <servlet-name>GetFilexls</servlet-name>
    <servlet-class>GetFilexls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFilexls</servlet-name>
    <url-pattern>/GetFilexls</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>GetLibrarianData</display-name>
    <servlet-name>GetLibrarianData</servlet-name>
    <servlet-class>GetLibrarianData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLibrarianData</servlet-name>
    <url-pattern>/GetLibrarianData</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Getsession</display-name>
    <servlet-name>Getsession</servlet-name>
    <servlet-class>Getsession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getsession</servlet-name>
    <url-pattern>/Getsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LendingData</display-name>
    <servlet-name>LendingData</servlet-name>
    <servlet-class>LendingData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LendingData</servlet-name>
    <url-pattern>/LendingData</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LibBookInsert</display-name>
    <servlet-name>LibBookInsert</servlet-name>
    <servlet-class>LibBookInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibBookInsert</servlet-name>
    <url-pattern>/LibBookInsert</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LibrarianLendBook</display-name>
    <servlet-name>LibrarianLendBook</servlet-name>
    <servlet-class>LibrarianLendBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLendBook</servlet-name>
    <url-pattern>/LibrarianLendBook</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LibraryBook</display-name>
    <servlet-name>LibraryBook</servlet-name>
    <servlet-class>LibraryBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibraryBook</servlet-name>
    <url-pattern>/LibraryBook</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>respond error</description>
    <display-name>MakeError</display-name>
    <servlet-name>MakeError</servlet-name>
    <servlet-class>MakeError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeError</servlet-name>
    <url-pattern>/MakeError</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>response login</description>
    <display-name>MakeLogin</display-name>
    <servlet-name>MakeLogin</servlet-name>
    <servlet-class>MakeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeLogin</servlet-name>
    <url-pattern>/MakeLogin</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>StoreMail</display-name>
    <servlet-name>StoreMail</servlet-name>
    <servlet-class>StoreMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreMail</servlet-name>
    <url-pattern>/StoreMail</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>RemoveBooks</display-name>
    <servlet-name>RemoveBooks</servlet-name>
    <servlet-class>RemoveBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBooks</servlet-name>
    <url-pattern>/RemoveBooks</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AutoMail</display-name>
    <servlet-name>AutoMail</servlet-name>
    <servlet-class>AutoMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoMail</servlet-name>
    <url-pattern>/AutoMail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetUserProfile</display-name>
    <servlet-name>GetUserProfile</servlet-name>
    <servlet-class>GetUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserProfile</servlet-name>
    <url-pattern>/GetUserProfile</url-pattern>
  </servlet-mapping>

<!-- not check -->







  





  


<!--Defines Security Constraint -->  
<security-constraint>
  <display-name>JSP Demo Constraints</display-name>
  <web-resource-collection>
  <url-pattern>/Getsession</url-pattern>
</web-resource-collection>
<auth-constraint>
  <description/>
  <role-name>*</role-name>
  </auth-constraint>
</security-constraint>

<!--Defines Login Config -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/MakeLogin</form-login-page>
            <!-- <form-login-page>/login.jsp</form-login-page> -->
            <form-error-page>/MakeError</form-error-page>
        </form-login-config>
    </login-config>

<!-- session time out -->
<session-config> <session-timeout>100</session-timeout> </session-config>

<!-- cors -->
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:4200</param-value> 
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>10</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!-- /cors -->
<filter>
  <filter-name>f1</filter-name>  
  <filter-class>MyFilter</filter-class>  
</filter>  
<filter-mapping>  
  <filter-name>f1</filter-name>  
  <url-pattern>/*</url-pattern>  
</filter-mapping>  


</web-app>